.account-container {
    border: 1px solid #ccc;
    padding: 20px;
    width: 50%; /* Ширина контейнера */
    text-align: center; /* Выравниваем текст по центру */
    position: absolute; /* Позиционируем абсолютно */
    top: 40%; /* Положение сверху на 50% */
    left: 50%; /* Положение слева на 50% */
    transform: translate(-50%, -50%); /* Центрируем по вертикали и горизонтали */
}

.account-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.user-info {
    margin-top: 10px;
}

.user-info p {
    margin-bottom: 5px;
}
