/* Стили для содержимого модального окна */
.modal-content {
    margin: 1000px 0; /* Отступы по 10 пикселей сверху и снизу */
    width: 500px;
    height: 200px;
    display: flex;
    background-color: white; /* Белый фон */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); /* Тень для эффекта всплывания */
    flex-direction: column; /* Расположение элементов в столбик */
    max-width: 400px; /* Максимальная ширина модального окна */
    align-items: center; /* Выравнивание элементов по центру */
}

