.header-container {
    position: fixed;
    top: 0;
    left: 0; /* Изменено на left: 0; чтобы фиксировать заголовок слева */
    bottom: 0; /* Добавлено для заполнения всей высоты экрана */
    z-index: 1000;
    background: #292929;

    color: #fff;
    padding: 10px 0;
    width: 200px; /* Ширина заголовка */
}

.nav-list {
    margin-top: 150px;
    list-style-type: none;
    padding: 0;
}

.nav-list li {
    margin-left: 30px;
    margin-top: 30px;
    font-size: 16px;
    display: flex; /* Добавлено */
    align-items: center; /* Добавлено */

}

.nav-list a,
.nav-list button {
    color: #fff;
    text-decoration: none;
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block; /* Добавлено для размещения элементов по вертикали */
}

.nav-list a:hover,
.nav-list button:hover {
    color: #ff4500;
}

button {
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

.logout-button-container {
    margin-top: 500px;
}

.logout-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    transition: all 0.3s ease;
    margin-left: 30px;
}

.logout-button:hover {
    color: #ff4500;
}

.buttons-upper-table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
    border-radius: 10px;
}

.search-prompt {
    position: relative;
    width: 500px; /* Ширина поля ввода */
    border-radius: 5px;
}

