.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure the header stays on top of other content */
    background-image: linear-gradient(to right, #333, #555); /* Gradient background color */
    color: #fff;
    padding: 10px 0;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.nav-list li {
    margin-right: 30px;
}

.nav-list a,
.nav-list button {
    color: #fff;
    text-decoration: none;
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-list a:hover,
.nav-list button:hover {
    color: #ff4500;
}

button {
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}
